#menuControl:checked~.mobileMenu nav {
    /* mobileMenu */
    left: 0;
}

#menuControl {
    /* mobileMenu */
    position: absolute;
}

#myHeader_2 .mobileMenu {
    /* mobileMenu */
    background-color: #ebf2ea;
    width: 100vw;
    height: 3vh;
}

.mobileMenu>label {
    /* mobileMenu */
    position: absolute;
    margin: 0;
    right: 0;
    width: 6vw;
    height: 3vh;
    background-color: #0abda0;
    background-image: url("../../img/menuIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mobileMenu nav {
    /* mobileMenu */
    top: 0vh;
    left: -60vw;
    padding: 5vw;
    position: fixed;
    width: 60vw;
    height: 111vh;
    background-color: #efecea;
    font-size: 18px;
    z-index: 20;
    transition: .5s;
}

.mobileMenu nav label>img {
    width: 4vw;
}

#menuControl {
    /* mobileMenu */
    left: -20px;
    opacity: 0;
}

@media screen and (max-width: 800px) {
    #myHeader_2>#webMenu {
        display: none;
    }
    #myHeader_2 .mobileMenu {
        background-color: #c1cebf;
    }
}

@media screen and (max-width: 700px) {
    .mobileMenu>label {
        width: 9vw;
    }
}

@media screen and (min-width: 800px) {
    #myHeader_2>#mobileMenu {
        display: none;
    }
}